.bg{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #123885, #0c0f3c, #2d1270, #161e96, #27337a, #30136b, #1a2045);
    background-size: 1400% 1400%;

    -webkit-animation: background 120s ease infinite;
    -moz-animation: background 120s ease infinite;
    animation: background 120s ease infinite;


}

.grid{
    opacity: 0.05;
    animation: scrolling 10s infinite;
    animation-timing-function: linear;
    position: relative;
    width: 100%;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.grid-active{
    opacity: 0.1!important;
    filter: blur(1px);
    transform: scale(1.01,1.01);
}

.keyboard-all{
    display: inline-block;
    border-radius: 15px;
    border: solid 3px rgba(255, 255, 255, 0.1);
    padding: 0px 40px 10px 20px;
    position: fixed;
    z-index: 2;
    left: 20px;
    bottom: 20px;
    background: rgba(255, 255, 255, 0.06);
}

.keyboard{
    width: 750px;
    display: inline-block;
}

.keyboard ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.keyboard ul li{
    text-align: center;
    padding: 6px;
    color: rgba(0, 0, 0, 0.55);
    border-radius: 5px;
    font-family: 'Rajdhani';
    font-size: 40px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin: 0px 8px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.1);
    font-weight: bold;
    cursor: not-allowed;
    border: solid 2px transparent;
    text-transform: uppercase;
}

.keyboard-line-1, .keyboard-line-2, .keyboard-line-3{
    display: inline-flex;
}

.keyboard-line-2{
    margin-left: 20px;
}

.keyboard-line-3{
    margin-left: 50px;
}

.numpad{
    height: 280px;
    width: 200px;
    display: inline-block;
    margin-left: 100px;
}

.numpad ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0px;
}

.numpad ul li{
    text-align: center;
    padding: 6px;
    color: rgba(0, 0, 0, 0.55);
    border-radius: 5px;
    font-family: 'Rajdhani';
    font-size: 40px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.1);
    font-weight: bold;
    cursor: not-allowed;
    border: solid 2px transparent;
}

.key-active{
    color: #fff !important;
    border: solid 2px #fff !important;
    background: rgba(255, 255, 255, 0.25) !important;
    transform: scale(1.1,1.1);
    transition: 0.05s;
}

#keyboard-title{
    font-family: 'Rajdhani';
    color: #fff;
    font-size: 32px;
    margin-top: -50px;
    animation: flash 2s infinite;
    opacity: 0.3;
    display: inline-block;
    position: absolute;
}

.keyboard-title-nrv{
    color: red !important;
    animation: flashNRV 0.5s infinite !important;
    font-weight: bold;
    font-size: 52px !important;
    margin-top: -70px !important;
}


/* --------------------- */

/* Keyframes */

@keyframes scrolling{
    0%{
        top: 0px;
    }
    100%{
        top: -1000px;
    }
}


@-webkit-keyframes background {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes background {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes background { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


@keyframes flash{
    0%{
        opacity: 0.3
    }
    50%{
        opacity: 0.15
    }
    100%{
        opacity: 0.3
    }
}

@keyframes flashNRV{
    0%{
        opacity: 0.8
    }
    50%{
        opacity: 0.5
    }
    100%{
        opacity: 0.8
    }
}